@import 'compass/css3/transition';
@import 'compass/css3/images';
@import '../constants/animation';
@import '../constants/colors';
@import '../mixins/size';
@import '../mixins/position';
@import '../mixins/mobile';
@import '../mixins/hover';
@import '../mixins/sprites';

$headingHeight: 85px;
$headingHeightMobile: 150px;
$headingOffset: 0px;
$headingHiddenOffset: -$headingHeight;
$headingHiddenOffsetMobile: -$headingHeightMobile;

#heading {
  @include fixed(0);
  @include size(100%, $headingHeight);
  @include transition(all $headerFooterFadeIn ease $headerFooterFadeInDelay);
  @include background-image(linear-gradient($red, $red 30%, $redTransparent));
  text-align: center;

  @include mobile {
    @include size(100%, $headingHeightMobile);
  }

  &.hidden {
    top: $headingHiddenOffset;

    @include mobile {
      top: $headingHiddenOffsetMobile;
    }
  }

  .content {
    @include absolute($headingOffset);
    width: 100%;

    > * {
      vertical-align: middle;
      display: inline-block;
    }

    h1 {
      @include mobile {
        margin: 20px 0;
      }

      .page {
        display: inline-block;
        transition: all .25s;
        opacity: 1;
        width: auto;
        white-space: nowrap;

        &::before {
          content: '/';
          display: inline-block;
          margin: 0 10px
        }

        .hidden {
          opacity: 0;
          transform: translateX(-20px);
          width: 0%;
        }
      }
    }

    #menu {
      @include absolute(20px, 20px);
      @include hoverable();
      @include sprite($icons, menu, 40px, 40px);

      @include mobile {
        @include absolute(25px, 25px);
        @include sprite($icons, menu, 75px, 75px);
      }
    }

    #logo {
      @include size(50px);

      @include mobile {
        display: none;
        @include size(75px);
      }
    }

    ul {
      padding: 0;

      @include mobile {
        display: none;
      }

      li {
        @include hoverable();
        display: inline-block;
        margin-left: 12px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}