@import 'compass/css3/flexbox';
@import '../mixins/position';
@import '../mixins/size';
@import '../mixins/mobile';
@import '../mixins/circles';

$lineupCircleSize: 100px;
$lineupMobileCircleSize: 185px;
$lineupPadding: 20px;
$lineupMobilePadding: 30px;

#lineup {
  width: 100%;
  text-align: center;

  .lineupWrapper {
    @include display-flex();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(center);
    @include align-content(flex-end);
    @include align-items(center);

    > * {
      vertical-align: middle;
      display: inline-block;
    }

    .bachelorWrapper {
      min-width: $lineupCircleSize + 2 * $lineupPadding;
      padding: $lineupPadding;

      @include mobile {
        min-width: $lineupMobileCircleSize + 2 * $lineupMobilePadding;
        padding: $lineupMobilePadding;
      }
    }

    .spacer {
      width: 1px;
      height: 100%;
    }

    .selectionsWrapper {
      border-left: $defaultBorder;
      text-align: center;
      padding: $lineupPadding;
      padding-right: 0px;
      padding-bottom: 0px;

      @include mobile {
        border-left: $defaultBorderMobile;
        padding: $lineupMobilePadding;
        padding-right: 0px;
        padding-bottom: 0px;
      }

      [contestant] {
        margin-right: $lineupPadding;
        margin-bottom: $lineupPadding;

        @include mobile {
          margin-right: $lineupMobilePadding;
          margin-bottom: $lineupMobilePadding;
        }
      }
    }

  }
}