@import '../mixins/margin';
@import '../mixins/position';
@import '../mixins/size';
@import '../mixins/hover';
@import '../mixins/sprites';

$loginButtonSize: 100px;
$loginMobileButtonSize: 150px;

#login {
  @include centerVertical(500px);
  text-align: center;
  width: 100%;

  .button {
    padding: 0px;
    @include marginAfter(36px);

    @include hoverable();

    &.facebook .image {
      @include sprite($icons, fbLogo, $loginButtonSize);
      @include mobile {
        @include sprite($icons, fbLogo, $loginMobileButtonSize);
      }
    }

    &.google .image {
      @include sprite($icons, gPlusLogo, $loginButtonSize);
      @include mobile {
        @include sprite($icons, gPlusLogo, $loginMobileButtonSize);
      }
    }

    &.twitter .image {
      @include sprite($icons, twitterLogo, $loginButtonSize);
      @include mobile {
        @include sprite($icons, twitterLogo, $loginMobileButtonSize);
      }
    }

    &.reddit .image {
      @include sprite($icons, redditLogo, $loginButtonSize);
      @include mobile {
        @include sprite($icons, redditLogo, $loginMobileButtonSize);
      }
    }

    .image {
      display: inline-block;
    }
  }
}