@import '../mixins/size';
@import '../mixins/mobile';
@import '../mixins/hover';
@import '../mixins/sprites';

$nicknameButtonSize: 47px;
$nicknameMobileButtonSize: 100px;

#nickname {
  @include centered();

  .input {
    > * {
      vertical-align: bottom;
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .circleButton {
    @include hoverable();
    @include sprite($icons, next, $nicknameButtonSize);

    @include mobile {
      @include sprite($icons, next, $nicknameMobileButtonSize);
    }
  }

  .errorMessage {
    left: -27px;
    top: 2px;
  }
}
