@import '../constants/colors';
@import '../constants/fonts';
@import '../mixins/hover';

.button {
  display: inline-block;
  color: $white;
  background: $red;
  font-weight: 600;
  padding: 12px 40px;
  @include hoverable();

  &.disabled {
    opacity: .5;
    cursor: initial;
  }
}

.buttonLarge {
  @extend .button;
  @include largeFont();
  padding: 20px 60px;
}

.buttonSmall {
  @extend .button;
}
