@import '../constants/colors';
@import '../constants/fonts';

.button {
  display: inline-block;
  color: $white;
  background: $red;
  font-weight: 600;
  padding: 12px 40px;

  &.disabled {
    opacity: .5;
  }
}

.buttonLarge {
  @extend .button;
  @include largeFont();
  padding: 20px 60px;
}