@import '../mixins/circles';
@import '../mixins/mobile';
@import '../mixins/position';
@import '../constants/fonts';
@import '../mixins/hover';
@import '../mixins/mobile';
@import 'compass/css3/box-shadow';

$contestantCircleSize: 100px;
$contestantCircleSizeMini: 50px;
$contestantMobileCircleSize: 185px;
$contestantMobileCircleSizeMini: 75px;
$contestantSubCircleSize: 40px;
$contestantSubCircleSizeMobile: 75px;
$contestantSubCircleSizeMini: 32px;
$contestantSubCircleSizeMobileMini: 50px;
$contestantSubCircleTop: -10px;
$contestantSubCircleTopMobile: -10px;
$contestantSubCircleTopMini: -8px;
$contestantSubCircleTopMobileMini: -8px;
$contestantSubCircleLeft: -10px;
$contestantSubCircleLeftMobile: -10px;
$contestantSubCircleLeftMini: -12px;
$contestantSubCircleLeftMobileMini: -14px;
$contestantSubCircleRight: -10px;
$contestantSubCircleRightMobile: -10px;
$contestantSubCircleRightMini: -12px;
$contestantSubCircleRightMobileMini: -14px;
$contestantSubCircleBottom: 14px;
$contestantSubCircleBottomMobile: 24px;
$contestantSubCircleBottomMini: -8px;
$contestantSubCircleBottomMobileMini: -8px;
$contestantSubCircleZoom: 10px;
$contestantSubCircleZoomMobile: 10px;
$contestantSubCircleVisibleZoom: 5px;
$contestantSubCircleVisibleZoomMobile: 5px;
$contestantRoleTop: -28px;
$contestantRoleTopMobile: -52px;


[contestant] {
  @include relative();
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  img {
    @include circle($contestantCircleSize, $contestantMobileCircleSize);
    @include box-shadow(0 0 10px $shadow);
    pointer-events: none;
  }
  &.mini {
    img {
      @include circle($contestantCircleSizeMini, $contestantMobileCircleSizeMini);
      vertical-align: middle;
    }
  }

  .subCircle {
    @include smallFont();
    @include thinCircle($contestantSubCircleSize);
    line-height: $contestantSubCircleSize - 3px;
    opacity: 1;

    &.ng-hide {
      opacity: 0;
      pointer-events: none;
    }

    &.hoverable {
      @include hoverable();
    }

    @include mobile {
      @include thinCircle($contestantSubCircleSizeMobile);
      line-height: $contestantSubCircleSizeMobile - 7px;
    }

    &.mini {
      @include tinyFont();
      @include thinCircle($contestantSubCircleSizeMini);
      line-height: $contestantSubCircleSizeMini - 3px;

      @include mobile {
        @include thinCircle($contestantSubCircleSizeMobileMini);
        line-height: $contestantSubCircleSizeMobileMini - 7px;
      }
    }
  }

  .topLeftSubCircle {
    @extend .subCircle;
    @include absolute($contestantSubCircleTop, $contestantSubCircleLeft);

    &.ng-hide {
      @include absolute($contestantSubCircleTop + $contestantSubCircleZoom, $contestantSubCircleLeft + $contestantSubCircleZoom);
    }

    &.visible {
      @include absolute($contestantSubCircleTop + $contestantSubCircleVisibleZoom, $contestantSubCircleLeft + $contestantSubCircleVisibleZoom);
    }

    &.mini {
      @include absolute($contestantSubCircleTopMini, $contestantSubCircleLeftMini);
    }

    @include mobile {
      @include absolute($contestantSubCircleTopMobile, $contestantSubCircleLeftMobile);

      &.ng-hide-add.ng-hide-add-active {
        @include absolute($contestantSubCircleTopMobile + $contestantSubCircleZoomMobile, $contestantSubCircleLeftMobile + $contestantSubCircleZoomMobile);
      }

      &.visible {
        @include absolute($contestantSubCircleTopMobile + $contestantSubCircleVisibleZoomMobile, $contestantSubCircleLeftMobile + $contestantSubCircleVisibleZoomMobile);
      }

      &.mini {
        @include absolute($contestantSubCircleTopMobileMini, $contestantSubCircleLeftMobileMini);
      }
    }
  }

  .topRightSubCircle {
    @extend .subCircle;
    @include absolute($contestantSubCircleTop, null, null, $contestantSubCircleRight);

    &.ng-hide  {
      @include absolute($contestantSubCircleTop + $contestantSubCircleZoom, null, null, $contestantSubCircleRight + $contestantSubCircleZoom);
    }

    &.visible {
      @include absolute($contestantSubCircleTop + $contestantSubCircleVisibleZoom, null, null, $contestantSubCircleRight + $contestantSubCircleVisibleZoom);
    }

    &.mini {
      @include absolute($contestantSubCircleTopMini, null, null, $contestantSubCircleRightMini);
    }

    @include mobile {
      @include absolute($contestantSubCircleTopMobile, null, null, $contestantSubCircleRightMobile);

      &.ng-hide {
        @include absolute($contestantSubCircleTopMobile + $contestantSubCircleZoomMobile, null, null, $contestantSubCircleRightMobile + $contestantSubCircleZoomMobile);
      }

      &.mini {
        @include absolute($contestantSubCircleTopMobileMini, null, null, $contestantSubCircleRightMobileMini);
      }
    }
  }

  .bottomLeftSubCircle {
    @extend .subCircle;
    @include absolute(null, $contestantSubCircleLeft, $contestantSubCircleBottom);

    &.ng-hide {
      @include absolute(null, $contestantSubCircleLeft + $contestantSubCircleZoom, $contestantSubCircleBottom + $contestantSubCircleZoom);
    }

    &.visible {
      @include absolute(null, $contestantSubCircleLeftMobile + $contestantSubCircleVisibleZoom, $contestantSubCircleBottom + $contestantSubCircleVisibleZoom);
    }

    &.mini {
      @include absolute(null, $contestantSubCircleLeftMobileMini, $contestantSubCircleBottomMini);
    }

    @include mobile {
      @include absolute(null, $contestantSubCircleLeftMobile, $contestantSubCircleBottomMobile);

      &.ng-hide {
        @include absolute(null, $contestantSubCircleLeftMobile + $contestantSubCircleZoomMobile, $contestantSubCircleBottomMobile + $contestantSubCircleZoomMobile);
      }

      &.visible {
        @include absolute(null, $contestantSubCircleLeftMobile + $contestantSubCircleVisibleZoomMobile, $contestantSubCircleBottomMobile + $contestantSubCircleVisibleZoomMobile);
      }

      &.mini {
        @include absolute(null, $contestantSubCircleLeftMobileMini, $contestantSubCircleBottomMobileMini);
      }
    }
  }

  .bottomRightSubCircle {
    @extend .subCircle;
    @include absolute(null, null, $contestantSubCircleBottom, $contestantSubCircleRight);

    &.ng-hide {
      @include absolute(null, null, $contestantSubCircleBottom + $contestantSubCircleZoom, $contestantSubCircleRight + $contestantSubCircleZoom);
    }

    &.visible {
      @include absolute(null, null, $contestantSubCircleBottom + $contestantSubCircleVisibleZoom, $contestantSubCircleRight + $contestantSubCircleVisibleZoom);
    }

    &.mini {
      @include absolute(null, null, $contestantSubCircleBottomMini, $contestantSubCircleRightMini);
    }

    @include mobile {
      @include absolute(null, null, $contestantSubCircleBottomMobile, $contestantSubCircleRightMobile);

      &.ng-hide {
        @include absolute(null, null, $contestantSubCircleBottomMobile + $contestantSubCircleZoomMobile, $contestantSubCircleRightMobile + $contestantSubCircleZoomMobile);
      }

      &.visible {
        @include absolute(null, null, $contestantSubCircleBottomMobile + $contestantSubCircleVisibleZoomMobile, $contestantSubCircleRightMobile + $contestantSubCircleVisibleZoomMobile);
      }

      &.mini {
        @include absolute(null, null, $contestantSubCircleBottomMobileMini, $contestantSubCircleRightMobileMini);
      }
    }
  }

  .multiplier {
    @extend .bottomRightSubCircle;
    background: $yellow !important;
  }

  .score {
    @extend .bottomRightSubCircle;
    background: $green !important;
  }

  .eliminated {
    @extend .bottomLeftSubCircle;
    background: $darkRed !important;
  }

  .bio {
    @extend .bottomLeftSubCircle;
    background: $green !important;
  }

  .select {
    @extend .topRightSubCircle;
    background: $green !important;
  }

  .remove {
    @extend .topRightSubCircle;
    background: $darkRed !important;
  }

  .name {
    text-align: center;
    min-height: $mediumFont;

    @include mobile {
      min-height: $mediumMobileFont;
    }
  }

  .role {
    text-align: center;
    min-height: $mediumFont;
    width: 100%;

    @include absolute($contestantRoleTop);

    @include mobile {
      min-height: $mediumMobileFont;

      @include absolute($contestantRoleTopMobile);
    }
  }

  &.hoverable {
    @include hoverable();
    // transition: all .25s;

    &:hover, &.hover {
      // transform: scale(1.1);
    }
  }

  &.inactive {
    opacity : .5;
  }
}
