@import '../mixins/circles';
@import '../mixins/mobile';
@import '../mixins/position';
@import '../constants/fonts';
@import '../mixins/hover';
@import '../mixins/mobile';

$contestantCircleSize: 100px;
$contestantMobileCircleSize: 185px;
$contestantMultiplierSize: 40px;
$contestantMultiplierSizeMobile: 75px;
[contestant] {
  @include relative();
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  .innerWrapper {
    img {
      @include circle($contestantCircleSize, $contestantMobileCircleSize);
      pointer-events: none;
    }

    .value-circle {
      @include thinCircle($contestantMultiplierSize);
      @include absolute(null, null, 22px, -4px);
      line-height: $contestantMultiplierSize - 3px;

      @include mobile {
        @include thinCircle($contestantMultiplierSizeMobile);
        @include absolute(null, null, 32px, -4px);
        line-height: $contestantMultiplierSizeMobile - 7px;
      }
    }

    .multiplier {
      @extend .value-circle;
      background: $yellow;
    }

    .score {
      @extend .value-circle;
      background: $green;
    }

    .eliminated {
      @extend .value-circle;
      background: $darkRed;
    }

    .name {
      text-align: center;
      min-height: $mediumFont;

      @include mobile {
        min-height: $mediumMobileFont;
      }
    }

    &.hoverable {
      @include hoverable();
    }
  }
}