@import 'compass/css3/transition';
@import '../constants/colors';
@import '../constants/fonts';
@import '../mixins/position';
@import '../mixins/size';
@import '../mixins/mobile';
@import '../mixins/sprites';

$contestantModalCloseButtonSize: 25px;
$contestantModalCloseButtonMobileSize: 75px;
$contestantModalCloseButtonOffset: 25px;
$contestantModalImageWidth: 300px;
$contestantModalImageWidthMobile: 75%;
$contestantModalImageDividerWidth: 85%;
$contestantModalPadding: 20px;
$contestantModalPaddingMobile: 60px;

[contestant-modal] {
  .innerWrapper {
    background: $white;
    color: $offBlack;

    @include desktop {
      @include transition(opacity .5s ease);
      @include centerHorizontal(850px);
      top: 10%;
      width: 850px;
      max-height: 80%;
      height: 500px;
      opacity: 1;
    }

    @include mobile {
      @include size(100%);
      @include fixed(0%);
      @include transition(top .5s ease);
    }

    &.hidden {
      @include mobile {
        @include fixed(100%);
      }

      @include desktop {
        pointer-events: none;
        opacity: 0;
      }
    }

    .content {
      padding: $contestantModalPadding;
      @include relative();

      @include mobile {
        padding: $contestantModalPaddingMobile;
      }


      .close {
        @include absolute($contestantModalCloseButtonOffset, null, null, $contestantModalCloseButtonOffset);
        @include sprite($icons, close, $contestantModalCloseButtonSize);

        @include mobile {
          @include sprite($icons, close, $contestantModalCloseButtonMobileSize);
        }
      }

      .imageWrapper {
        @include relative();
        text-align: center;
        width: 100%;

        @include desktop {
          width: $contestantModalImageWidth;
          float: right;
          margin-left: 20px;
        }

        .fullBodyImage {
          width: 100%;
          display: block;
          margin: auto;

          @include mobile {
            width: $contestantModalImageWidthMobile;
          }
        }

        .divider {
          width: 100%;
          border-top: 1px solid $offBlack;

          @include mobile {
            @include centerHorizontal($contestantModalImageDividerWidth);
            width: $contestantModalImageDividerWidth;
            bottom: 0;
          }
        }
      }

      .buttonWrapper {
        text-align: center;
        margin-top: $contestantModalPadding;

        @include desktop() {
          clear: both;
          float: right;
          width: $contestantModalImageWidth;
          margin-left: 20px;
        }

        @include mobile() {
          margin-top: $contestantModalPaddingMobile;
        }
      }

      .bioStat, .bioQuestion {
        @include mediumFont();
      }

      .bioStat {
        .stat {
          font-weight: 600;
        }
      }

      .bioQuestion {
        padding-top: $contestantModalPadding/2;

        .question {
          font-weight: 600;
        }
      }
    }
  }

  .glass {
    @include transition(opacity .5s ease);
    @include size(100%);
    @include fixed(0,0);
    opacity: .5;
    background: $black;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
