@import '../mixins/circles';
@import '../mixins/mobile';
@import '../mixins/hover';
@import '../mixins/sprites';
@import '../constants/colors';
@import '../constants/fonts';

.leagueTable {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;

  .headerCell {
    @include mobile() {
      @include smallFont();
    }

    @include desktop() {
      font-weight: 600;
    }
  }

  .tableRow {
    display: flex;
    flex-flow: row nowrap;
    background: $darkRed;
    margin: 12px 12px 0 12px;

    &:first-child {
      background: none;
    }

    &.inactive {
      opacity: .4;
    }

    .tableRowItem {
      padding: 12px;
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      align-items: center;
      justify-content: center;

      &.user {
        @include desktop() {
          flex-grow: 2.5;
          justify-content: flex-start;
        }

        .name {
          @include mobile() {
            display: none;
          }
        }
      }


      & > * {
        margin-left: 12px;
      }

      & > *:first-child {
        margin-left: 0px;
      }
    }
  }

  .profilePic {
    @include circle(50px);
    background-color: $red;
    @include sprite($icons, user, 50px, 50px, 2px);

    @include mobile {
      @include thinCircle(75px);
      background-color: $red;
      @include sprite($icons, user, 75px);
    }
  }
}
