@import 'compass/css3/transition';
@import '../constants/colors';
@import '../constants/fonts';
@import '../mixins/position';
@import '../mixins/size';
@import '../mixins/mobile';
@import '../mixins/sprites';
@import '../mixins/hover';

$leagueModalCloseButtonSize: 25px;
$leagueModalCloseButtonMobileSize: 75px;
$leagueModalCloseButtonOffset: 25px;
$leagueModalPadding: 20px;
$leagueModalPaddingMobile: 60px;

[league-modal] {
  .innerWrapper {
    background: $white;
    color: $offBlack;

    @include desktop {
      @include transition(opacity .5s ease);
      @include centerHorizontal(400px);
      top: 10%;
      width: 400px;
      max-height: 80%;
      height: 500px;
      opacity: 1;
    }

    @include mobile {
      @include size(100%);
      @include fixed(0%);
      @include transition(top .5s ease);
    }

    &.hidden {
      @include mobile {
        @include fixed(100%);
      }

      @include desktop {
        pointer-events: none;
        opacity: 0;
      }
    }

    .content {
      padding: $leagueModalPadding;
      width: calc(100% + 15px);
      @include relative();

      @include mobile {
        padding: $leagueModalPaddingMobile;
      }


      .close {
        @include absolute($leagueModalCloseButtonOffset, null, null, $leagueModalCloseButtonOffset);
        @include sprite($icons, close, $leagueModalCloseButtonSize);

        @include mobile {
          @include sprite($icons, close, $leagueModalCloseButtonMobileSize);
        }
      }

      .buttonSmall {
        text-align: center;
        padding: 6px 0;
        width: 100%;
        margin: 12px 0;

        @include mobile() {
          padding: 12px 0;
        }
      }

      .createLeague {
        text-align: center;
        margin-top: 12px;

        @include hoverable();
      }
    }
  }

  .glass {
    @include transition(opacity .5s ease);
    @include size(100%);
    @include fixed(0,0);
    opacity: .5;
    background: $black;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
