@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/box-shadow';
@import '../constants/colors';
@import '../constants/fonts';
@import '../mixins/size';
@import '../mixins/position';
@import '../mixins/hover';

$slideOutMenuWidth: 300px;
$slideOutMenuWidthMobile: 50%;
$slideOutMenuTransitionDuration: .5s;

div[slide-out-menu] {
  @include translateX(0px);
  @include transition(transform $slideOutMenuTransitionDuration ease);
  @include size(100%);
  @include absolute(0, 0);

  .slideOutMenuContent {
    @include size($slideOutMenuWidth, 100%);
    @include absolute(0, -$slideOutMenuWidth);
    background: url('../images/textures/slideOutMenuTexture.jpg');
    background-size: cover;

    @include mobile {
      @include size($slideOutMenuWidthMobile, 100%);
      @include absolute(0, -$slideOutMenuWidthMobile);
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        display: block;
        padding: 10px 20px;
        margin: 0;
        @include largeFont();

        @include mobile {
          padding: 30px;
        }

        .hoverable {
          @include hoverable();
        }
      }
    }
  }

  .slideOutMainContent {
    @include size(100%);
    @include absolute();
    @include box-shadow(0px 0 40px rgba(0,0,0,.5));
  }

  &.active {
    @include translateX($slideOutMenuWidth);

    @include mobile {
      @include translateX($slideOutMenuWidthMobile);
    }
  }
}
