# Eclipse
.classpath
.project
.settings

# IntelliJ
.idea
*.iml

# sass
.sass-cache
*.scssc

# node
node_modules/*

# build
*.zip
.rebooted
bower_components/
build/

# logs
*.log

# configuration
config/development.json
config/production.json
