$howItWorksImagesDir: $imagesDir + 'howItWorks/';
$howItWorksTheBachelorUrl: $howItWorksImagesDir + 'theBachelor.png';
$howItWorksWeekDropdownUrl: $howItWorksImagesDir + 'weekDropdown.png';
$howItWorksWeekDropdownHoverUrl: $howItWorksImagesDir + 'weekDropdownHover.png';
$howItWorksMultiplierUrl: $howItWorksImagesDir + 'multiplier.png';
$howItWorksLeaderboardUrl: $howItWorksImagesDir + 'leaderboard.png';

#howItWorks {

  h4 {
    clear: both;
    margin-bottom: 0;
  }

  .right {
    float: right;

    &.image {
      margin-right: 0;
    }
  }

  .left {
    float: left;

    &.image {
      margin-left: 0;
    }
  }

  .image {
    margin: 12px 24px;
  }

  .theBachelor {
    @include backgroundImage($howItWorksTheBachelorUrl, 258px, 60px);
    margin-top: 26px !important;
  }

  .weekDropdown {
    //@include backgroundImage($howItWorksWeekDropdownUrl, 240px, 150px);
  }

  .weekDropdownHover {
    @include backgroundImage($howItWorksWeekDropdownHoverUrl, 240px, 150px);
  }

  .multiplier {
    @include backgroundImage($howItWorksMultiplierUrl, 222px, 104px);
  }

  .leaderboard {
    @include backgroundImage($howItWorksLeaderboardUrl, 240px, 150px);
    margin-right: 10px !important;
  }
}