$loginTitleTop: 60px;
$loginTitleLeft: 250px;

$loginFacebookHeight: 60px;
$loginFacebookWidth: 315px;
$loginFacebookTop: $loginTitleTop + 100px;
$loginFacebookLeft: $loginTitleLeft;
$loginFacebookUrl: $imagesDir + "facebookLogin.png";

$loginHeight: $roseHeight;
$loginWidth: 750px;
$loginMarginTop: 200px;

#login {
  position: relative;
  margin: $loginMarginTop auto 0 auto;
  @include size($loginWidth, $loginHeight);
  border-bottom:  1px solid $lightGray;

  .rose {
    @include backgroundImage($roseUrl, $roseWidth, $roseHeight);
  }

  .title {
    @include fontStyleHeading1();
    @include absolute($loginTitleTop, $loginTitleLeft);
  }

  .loginWithFacebook {
    @include backgroundImage($loginFacebookUrl, $loginFacebookWidth, $loginFacebookHeight);
    @include absolute($loginFacebookTop, $loginFacebookLeft);
    cursor: pointer;

    &.disabled {
      opacity: .5;
    }
  }
}