$minHeight: 500px;




#howitworks {
  text-decoration: underline;
}

#howitworks-description {

  .popup-dialog {
    min-height: $minHeight;

    .title {
      @include fontStyleHeading2();
    }
    .left {
      width: $modalWidth - (5 * $modalPadding + $contestantLargeWidth);
    }

    .stat {
      @include fontStyleSmall();

      .name {
        @include fontStyleSmallBold();
      }
    }

    .paragraph {
      @include fontStyleSmall();
      margin-top: $modalPadding / 2;

      .sentenceStart {
        @include fontStyleSmallBold();
      }
    }

    .right {
      position: absolute;
      bottom: 0;
      right: $modalPadding;
    }

    .roseWrapper {
      padding: 0 $modalPadding;
      border-bottom: 1px solid $lightGray;
    }

    .rose {
      @include backgroundImage($roseUrl, $roseWidth, $roseHeight);
    }

    .btn-container {
      padding: $modalPadding;
      text-align: center;
    }
  }

}