$width: 1200px;
$imagesDir: "../images/";
$contestantsSmallDir: $imagesDir + "contestantsSmall/";
$contestantsMediumDir: $imagesDir + "contestantsMedium/";
$contestantsLargeDir: $imagesDir + "contestantsLarge/";
$contestantSmallUrl: $contestantsSmallDir + "womanSmall.png";
$contestantMediumUrl: $contestantsMediumDir + "womanMedium.png";
$contestantLargeUrl: $contestantsLargeDir + "womanLarge.png";
$roseUrl: $imagesDir + "roseLarge.png";

$contestantSmallWidth: 69px;
$contestantSmallHeight: 75px;
$contestantMediumWidth: 160px;
$contestantMediumHeight: 175px;
$contestantLargeWidth: 320px;
$contestantLargeHeight: 350px;
$roseHeight: 318px;
$roseWidth: 250px;

@import "mixins";
@import "colors";
@import "fonts";
@import "buttons";
@import "dropdown";
@import "modal";
@import "bioModal";
@import "popup";
@import "login";
@import "header";
@import "contestantSelection";
@import "juanPablo";

html {
  height: 100%;
  min-width: $width;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  color: $darkGray;
  position: relative;
  margin: auto;
  background: $white;
  @include fontStyleDefault();
}

.fullWidth {
  width: 100%;
}

.minWidth {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

input, button {
  outline: none;
  font-family: inherit;
}

table {
  border-collapse: collapse;

  tr {

    &:first-child > * {
      border-top: 0;
    }

    &:last-child > * {
      border-bottom: 0;
    }

    th, td {
      padding: 12px;
      width: 200px;
      text-align: center;
      border: 1px solid $lightGray;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}

.hide {
  display: none;
}


.sectionTitle {
  @include fontStyleContestantSectionTitle();
}