@import 'colors';
@import '../mixins/mobile';

$borderColor: $white;
$borderWidth: 2px;
$borderWidthMobile: 6px;
$borderThinWidth: 2px;
$borderThinWidthMobile: 4px;
$defaultBorder: $borderWidth solid $borderColor;
$defaultBorderMobile: $borderWidthMobile solid $borderColor;
$defaultThinBorder: $borderThinWidth solid $borderColor;
$defaultThinBorderMobile: $borderThinWidthMobile solid $borderColor;

@mixin defaultBorder() {
  border: $defaultBorder;

  @include mobile {
    border: $defaultBorderMobile;
  }
}

@mixin defaultThinBorder() {
  border: $defaultThinBorder;

  @include mobile {
    border: $defaultThinBorderMobile;
  }
}
