$lightGray: rgb(220, 222, 224);
$mediumGray: rgb(138, 145, 154);
$darkGray: rgb(83, 88, 95);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$offWhite: rgb(251, 251, 251);
$red: rgb(243, 69, 66);
$green: rgb(41, 187, 165);
$yellow: rgb(241, 196, 44);
$glass: rgba(0, 0, 0, .5);
$transparent: rgba(0, 0, 0, 0);

@mixin dataColor($name, $value) {
  [data-color="#{$name}"] {
    opacity: 1 !important;
    background: $value !important;
  }
}

@include dataColor("green", $green);
@include dataColor("yellow", $yellow);
@include dataColor("red", $red);