$fontFamily: "Helvetica Neue", "Segoe UI", Helvetica, Arial;

@mixin fontStyleHeading1() {
  @include fontStyle(64px, 100);
}

@mixin fontStyleHeading2() {
  @include fontStyle(48px, 100);
}

@mixin fontStyleTitle() {
  @include fontStyle(36px, 100);
}

@mixin fontStyleButton() {
  @include fontStyle(14px, 300);
}

@mixin fontStyleButtonLarge() {
  @include fontStyle(24px, 300);
}

@mixin fontStyleNavigation() {
  @include fontStyle(14px, 100);
}

@mixin fontStyleDefault() {
  @include fontStyle(18px, 300);
}

@mixin fontStyleSmall() {
  @include fontStyle(14px, 300);
}

@mixin fontStyleSmallBold() {
  @include fontStyle(14px, 500);
}

@mixin fontStyleWomanButton() {
  @include fontStyle(30px, 100);
}

@mixin fontStyleWomanSectionTitle() {
  @include fontStyle(64px, 100);
}

@mixin fontStyle($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
}