$womenSelectionPadding: 18px;

$womenSelectionArrowWidth: 24px;
$womenSelectionArrowHeight: 12px;
$womenSelectionArrowUpUrl: $imagesDir + "arrowUp.png";
$womenSelectionArrowDownUrl: $imagesDir + "arrowDown.png";

$womenSelectionButtonHeight: $womanSmallHeight + 5;
$womenSelectionButtonWidth: $width / 5 - $womenSelectionPadding * 2;
$womenSelectionButtonUrl: $womanSmallUrl;

$womenSelectionDefaultUrl: $womanMediumUrl;

#womenSelection {

  #remainingWomenWrapper {
    width: $width / 5;
    margin: $womenSelectionPadding 0;
    float: left;

    #remainingWomen {
      border-right: 1px solid $lightGray;
      text-align: center;
    }

    .upArrow, .downArrow {
      display: inline-block;
      margin: 0 auto;

      &:hover {
        cursor: pointer;
      }

      &.disabled {
        opacity: .5;
      }
    }

    .upArrow {
      @include backgroundImage($womenSelectionArrowUpUrl, $womenSelectionArrowWidth, $womenSelectionArrowHeight);
    }

    .downArrow {
      @include backgroundImage($womenSelectionArrowDownUrl, $womenSelectionArrowWidth, $womenSelectionArrowHeight);
    }

    #women {
      li {
        @include backgroundImage($womenSelectionButtonUrl, $womenSelectionButtonWidth, $womenSelectionButtonHeight);
        line-height: $womenSelectionButtonHeight;
        padding-left: 70px;
        background-position: left bottom;
        background-color: $offWhite;
        margin: $womenSelectionPadding;
        @include boxShadow(1px 1px 6px 0px rgba(0,0,0,0.45));
        @include fontStyleWomanButton();
        cursor: pointer;

        &.selected {
          color: $white;
          background-color: $red;

          &:hover {
            background-color: darken($red, 5%);
          }
        }

        &:hover {
          background-color: darken($offWhite, 5%);
        }
      }
    }
  }

  #selectedWomen {
    width: 4 * $width / 5;
    float: left;
    margin: $womenSelectionPadding 0;
    padding: 0 $womenSelectionPadding;

  }
}

.selectedWomenLayout {
  .row {
    border-bottom: 1px solid $lightGray;
    width: 3 * ($womenSelectionPadding + $womanMediumWidth) + $womenSelectionPadding;
    padding-right: $womenSelectionPadding;
    font-size: 0;
    margin: $womenSelectionPadding auto;

    .woman {
      display: inline-block;
      margin-left: $womenSelectionPadding;

      @include backgroundImage($womenSelectionDefaultUrl, $womanMediumWidth, $womanMediumHeight);
    }
  }
}