$lightGray: rgb(220, 222, 224);
$mediumGray: rgb(138, 145, 154);
$darkGray: rgb(83, 88, 95);
$darkGrayOpaque: rgba(83, 88, 95, .25);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$offBlack: rgb(53, 53, 53);
$offWhite: rgb(251, 251, 251);
$red: rgb(201, 19, 15);
$redTransparent: rgba(201, 19, 15, 0);
$darkRed: rgb(171, 24, 2);
$green: rgb(41, 187, 165);
$yellow: rgb(241, 196, 44);
$glass: rgba(0, 0, 0, .5);
$shadow: rgba(0, 0, 0, .2);
$transparent: rgba(0, 0, 0, 0);