@import '../mixins/mobile';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

$tinyFont: 9px;
$tinyMobileFont: 18px;
$smallFont: 12px;
$smallMobileFont: 24px;
$mediumFont: 16px;
$mediumMobileFont: 32px;
$largeFont: 24px;
$largeMobileFont: 48px;
$extraLargeFont: 32px;
$extraLargeMobileFont: 64px;
$lightFontWeight: 300;
$normalFontWeight: 400;
$boldFontWeight: 600;

@mixin defaultFont() {
  font-family: 'Open Sans', sans-serif;
}

@mixin lightFontWeight() {
  font-weight: $lightFontWeight;
}

@mixin normalFontWeight() {
  font-weight: $normalFontWeight;
}

@mixin boldFontWeight() {
  font-weight: $boldFontWeight;
}

@mixin tinyFont() {
  font-size: $tinyFont;

  @include mobile {
    font-size: $tinyMobileFont;
  }
}

@mixin smallFont() {
  font-size: $smallFont;

  @include mobile {
    font-size: $smallMobileFont;
  }
}

@mixin mediumFont() {
  font-size: $mediumFont;

  @include mobile {
    font-size: $mediumMobileFont;
  }
}

@mixin largeFont() {
  font-size: $largeFont;

  @include mobile {
    font-size: $largeMobileFont;
  }
}

@mixin extraLargeFont() {
  font-size: $extraLargeFont;

  @include mobile {
    font-size: $extraLargeMobileFont;
  }
}
