option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_DATABASE
    value: fantasyBach
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_PORT
    value: 3306
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_PROTOCOL
    value: mysql
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: TZ
    value: America/Los_Angeles