option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /static
    value: /client

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_DATABASE
    value: fantasyBach
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_PORT
    value: 3306
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_PROTOCOL
    value: mysql
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production