<div class="glass" ng-click="close()" ng-class="{hidden: !visible}"></div>
<div class="innerWrapper" ng-class="{hidden: !visible}">
    <div class="content">
        <div class="imageWrapper">
            <img class="fullBodyImage" ng-src="images/contestants/{{contestant.codename || 'woman'}}.png"/>
            <div class="divider"></div>
        </div>
        <h1 class="name">{{contestant.name}}</h1>
        <div class="bioStat" ng-repeat="bioStat in contestant.bioStatistics">
            <span class="stat">{{bioStat.name}}:</span> <span class="value">{{bioStat.value}}</span>
        </div>
        <div class="bioQuestion" ng-repeat="bioQuestion in contestant.bioQuestions">
            <div class="question">{{bioQuestion.question}}</div>
            <div class="answer">{{bioQuestion.answer}}</div>
        </div>
        <div class="buttonWrapper">
            <div class="buttonLarge" ng-click="buttonClicked()" ng-class="{disabled : !enabled}">{{text}}</div>
        </div>
    </div>
    <img class="close" ng-click="close()" src="images/close.png"/>
</div>