<div id="heading" ng-class="{hidden : !appLoaded || !user || !showHeaderFooter}">
    <div class="content">
        <img id="menu" ng-click="showSlideOutMenu($event)" src="images/menu.png" />
        <h1>fantasy bach</h1>
        <!--<img id="logo" src="images/logo.png" />-->
        <!--<ul>-->
            <!--<li>leagues</li>-->
            <!--<li ng-click="showWeeks = !showWeeks">weeks</li>-->
            <!--<li>leaderboard</li>-->
        <!--</ul>-->
        <!--<div popover ng-show="showWeeks">-->
            <!--<div class="arrowUp"></div>-->
            <!--<div class="content">-->
                <!--<ul>-->
                    <!--<li ng-repeat="week in weeks" ng-click="goToWeek(week.id)">{{week.name | lowercase}}</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>