<div id="login">
    <h1>login to fantasy bach</h1>
    <div class="buttons">
        <div class="facebook button" ng-click="loginFacebook()">
            <div class="image"></div>
            <div class="label">facebook</div>
        </div>
        <div class="google button" ng-click="loginGooglePlus()">
            <div class="image"></div>
            <div class="label">google</div>
        </div>
    </div>
</div>