<div id="login">
    <h1>login to fantasy bach</h1>
    <div class="buttons">
        <div class="facebook button" ng-click="loginFacebook()">
            <div class="image"></div>
            <div class="label">facebook</div>
        </div>
        <div class="google button" ng-click="loginGoogle()">
            <div class="image"></div>
            <div class="label">google</div>
        </div>
        <div class="twitter button" ng-click="loginTwitter()">
            <div class="image"></div>
            <div class="label">twitter</div>
        </div>
        <div class="reddit button" ng-click="loginReddit()">
            <div class="image"></div>
            <div class="label">reddit</div>
        </div>
    </div>
</div>