<div class="glass dark"></div>
<div class="scrollableContainer">
    <div class="close" ng-click="contestantSelectionModal.close()"></div>
    <div class="scrollable" ng-click="contestantSelectionModal.close($event)" root>
        <div class="content">
            <h1>contestant selection</h1>
            <contestant-button
                    class="primaryContentButton"
                    role="contestantSelectionModal.data.role"
                    contestant="contestantSelectionModal.data.contestant"
                    is-eliminated="contestantSelectionModal.data.isEliminated"
                    multiplier="contestantSelectionModal.data.multiplier"
                    show-score="false">
            </contestant-button>
            <div class="tabBar">
                <div class="tab"
                     ng-repeat="activatableSection in contestantSelectionModal.activatableSections"
                     ng-click="contestantSelectionModal.selectSection(activatableSection)"
                     ng-class="{ active : activatableSection === contestantSelectionModal.activeSection }">
                    {{activatableSection}}
                </div>
            </div>
            <div class="sectionContainer">
                <pre-selection-open-section ng-if="contestantSelectionModal.renderedSection === contestantSelectionModal.SECTIONS.PRE_SELECTION_OPEN"></pre-selection-open-section>
                <selection-closed-section ng-if="contestantSelectionModal.renderedSection === contestantSelectionModal.SECTIONS.SELECTION_CLOSED"></selection-closed-section>
                <select-contestant-section ng-if="contestantSelectionModal.renderedSection === contestantSelectionModal.SECTIONS.SELECT_CONTESTANT"></select-contestant-section>
                <select-role-section ng-if="contestantSelectionModal.renderedSection === contestantSelectionModal.SECTIONS.SELECT_ROLE"></select-role-section>
                <remove-contestant-section ng-if="contestantSelectionModal.renderedSection === contestantSelectionModal.SECTIONS.REMOVE_CONTESTANT"></remove-contestant-section>
                <view-bio-section ng-if="contestantSelectionModal.renderedSection === contestantSelectionModal.SECTIONS.VIEW_BIO"></view-bio-section>
                <role-info-section ng-if="contestantSelectionModal.renderedSection === contestantSelectionModal.SECTIONS.ROLE_INFO"></role-info-section>
            </div>
        </div>
    </div>
</div>
