<div class="label role">
    {{contestantButton.role.name}}
</div>
<div class="circle">
    <div ng-show="contestantButton.isUnknown" class="icon unknown"></div>
    <div ng-show="!contestantButton.isUnknown && contestantButton.role" class="icon {{contestantButton.role.className}}" ng-class="{ imageLoaded : contestantButton.contestant && !contestantButton.loading && !contestantButton.showContestantBadge }"></div>
    <img ng-show="!contestantButton.isUnknown && contestantButton.contestant && !contestantButton.showContestantBadge" class="image" ng-src="{{contestantButton.contestant.images.head}}" ng-class="{ loading : contestantButton.loading }"/>
    <div ng-show="!contestantButton.isUnknown && contestantButton.isEliminated" class="icon close"></div>
</div>
<div class="badge multiplier" ng-class="{ visible : contestantButton.multiplier > 1 && !contestantButton.isUnknown }">x{{ contestantButton.multiplier }}</div>
<div class="badge score" ng-class="{ visible : contestantButton.showScore && contestantButton.contestant && !contestantButton.isUnknown }">
    <div class="expanded">+{{ contestantButton.score | number : 2 }}</div>
    <div class="condensed">+{{ contestantButton.score | number : 0 }}</div>
</div>
<div class="badge contestant" ng-class="{ visible : contestantButton.contestant && contestantButton.showContestantBadge && !contestantButton.isUnknown }">
    <img class="image" ng-src="{{contestantButton.contestant.images.head}}" />
</div>
<div class="label name">
    {{contestantButton.contestant.name}}
</div>