<div id="help">
    <h1>help</h1>
    <p></p>
    <div id="instructions">
        <div class="instruction">
            <div class="iconContainer">
                <div class="roseIcon"></div>
            </div>
            <div class="descriptionContainer">
                <h3>Roses + Multipliers</h3>
                <p>Whenever any of your selected contestants accepts a rose, you will earn 1 point multiplied by the multiplier you have on the contestant. Each consecutive week you have a contestant anywhere in your lineup, the multiplier will increase by 1 up to a maximum multiplier of 3. For example, the first week a rose will be worth 1 point, 2 points the next week, but will never exceed 3 points. If you drop a contestant one week and pick them up again later, the multiplier will start back at 1 again.</p>
            </div>
        </div>
        <div class="instruction">
            <div class="iconContainer">
                <div class="loverIcon"></div>
            </div>
            <div class="descriptionContainer">
                <h3>Lover</h3>
                <p>"Love" is the keyword! Any time your "Lover" says the word "Love" (or its derivatives) you will score +0.5 points. This includes "Lover," "Loves," "Loving," "Loved," etc.</p>
            </div>
        </div>
        <div class="instruction">
            <div class="iconContainer">
                <div class="bleeperIcon"></div>
            </div>
            <div class="descriptionContainer">
                <h3>Bleeper</h3>
                <p>If any swear words that your "Bleeper" says are bleeped out, you will earn +2 points. Each continuous bleep will be counted as one bleep no matter how many swear words your "Bleeper" strings together.</p>
            </div>
        </div>
        <div class="instruction">
            <div class="iconContainer">
                <div class="cryerIcon"></div>
            </div>
            <div class="descriptionContainer">
                <h3>Cryer</h3>
                <p>You will receive +3 points each time your "Cryer" cries. The contestant is considered to be crying when they are clearly emotional and they get choked up, cover their face with their hands, a tear dips down their cheek, or they wipe their eyes. The contestant must regain composure before another cry is counted.</p>
            </div>
        </div>
        <div class="instruction">
            <div class="iconContainer">
                <div class="intervieweeIcon"></div>
            </div>
            <div class="descriptionContainer">
                <h3>Interviewee</h3>
                <p>Whenever your "Interviewee" has a staged shot where they are narrating the events of the show, you will score +0.25 points. Only one interview will be counted per scene, even if your "Interviewee" has multiple shots.</p>
            </div>
        </div>
        <div class="instruction">
            <div class="iconContainer">
                <div class="kisserIcon"></div>
            </div>
            <div class="descriptionContainer">
                <h3>Kisser</h3>
                <p>You will earn +0.5 points each time the bachelorette and your "Kisser" kiss. A kiss is counted when it is a kiss to the face (lips-to-lips, lips-to-cheek, lips-to-forehead). It does not matter who initiates the kiss, but subsequent kisses are only counted after both parties say at least one word each.</p>
            </div>
        </div>
        <div class="instruction">
            <div class="iconContainer">
                <div class="stealerIcon"></div>
            </div>
            <div class="descriptionContainer">
                <h3>Stealer</h3>
                <p>Each time your "Stealer" interrupts the bachelorette and pulls her away from the current activity, you will earn +3 points. The contestant will often say, "Can I steal you for a moment?" to the bachelorette when they are about to steal her away.</p>
            </div>
        </div>
    </div>
</div>