<div id="leagueJoin">
    <div class="content">
        <h2>you must be logged in before you can join a league</h2>

        <action-button ng-controller="LoginButtonController as loginButton" ng-click="loginButton.login()">
            login with facebook
        </action-button>
    </div>
</div>