<%
    var resourcesUrl = config.RESOURCES_URL;
    var version = config.PACKAGE.version;
%>
<div class="glass" ng-click="close()" ng-class="{hidden: !visible}"></div>
<div class="innerWrapper" ng-class="{hidden: !visible}">
    <div scrollable>
        <div class="content">
            <div class="imageWrapper">
                <img class="fullBodyImage" src="<%= resourcesUrl %>/<%= version %>/images/pixel.gif" ng-src="{{contestant.images.body || woman}}"/>
                <div class="dividerLine"></div>
            </div>
            <div class="buttonWrapper">
                <div class="buttonLabel" ng-show="!singleButton">select role</div>
                <div class="buttonLarge" ng-click="buttonClicked()" ng-class="{disabled : !enabled}" ng-show="singleButton">{{text}}</div>
                <div class="buttonSmall" ng-click="roleClicked(role)" ng-class="{disabled : !role.enabled}" ng-show="!singleButton" ng-repeat="role in roles">{{role.name | lowercase}}</div>
                <div class="buttonLabel">statistics</div>
                <table>
                    <tbody>
                        <tr ng-repeat="role in roles">
                            <td class="role">{{role.name | lowercase}}</td>
                            <td class="points">{{role.pointsPerOccurrence * contestant.stats[role.id].occurrences}} pts</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h1 class="name">{{contestant.name}}</h1>
            <div class="bioStat" ng-repeat="bioStat in contestant.bioStats">
                <span class="stat">{{bioStat.name}}:</span> <span class="value">{{bioStat.value}}</span>
            </div>
            <div class="bioQuestion" ng-repeat="bioQuestion in contestant.bioQuestions">
                <div class="question">{{bioQuestion.question}}</div>
                <div class="answer">{{bioQuestion.answer}}</div>
            </div>
            <div class="close" ng-click="close()"></div>
        </div>
    </div>
</div>
