<%
    var resourcesUrl = config.RESOURCES_URL;
    var version = config.PACKAGE.version;
%>
<div class="glass" ng-click="close()" ng-class="{hidden: !visible}"></div>
<div class="innerWrapper" ng-class="{hidden: !visible}">
    <div scrollable>
        <div class="content">
            <div class="imageWrapper">
                <img class="fullBodyImage" src="<%= resourcesUrl %>/<%= version %>/images/pixel.gif" ng-src="<%= resourcesUrl %>/<%= version %>/images/contestants/{{contestant.codename || 'woman'}}.jpg"/>
                <div class="divider"></div>
            </div>
            <h1 class="name">{{contestant.name}}</h1>
            <div class="bioStat" ng-repeat="bioStat in contestant.bioStatistics">
                <span class="stat">{{bioStat.name}}:</span> <span class="value">{{bioStat.value}}</span>
            </div>
            <div class="bioQuestion" ng-repeat="bioQuestion in contestant.bioQuestions">
                <div class="question">{{bioQuestion.question}}</div>
                <div class="answer">{{bioQuestion.answer}}</div>
            </div>
            <div class="buttonWrapper">
                <div class="buttonLarge" ng-click="buttonClicked()" ng-class="{disabled : !enabled}">{{text}}</div>
            </div>
            <div class="close" ng-click="close()"></div>
        </div>
    </div>
</div>