<div id="heading" ng-class="{hidden : !appLoaded || !user || !showHeaderFooter}">
    <div class="content">
        <div id="menu" ng-click="showSlideOutMenu($event)"></div>
        <h1>fantasy bach<div class="page" ng-class="{hidden : !pageTitle}">{{pageTitle | lowercase}}</div></h1>
        <!--<img id="logo" src="images/logo.png" />-->
        <!--<ul>-->
            <!--<li>leagues</li>-->
            <!--<li ng-click="showRounds = !showRounds">weeks</li>-->
            <!--<li>leaderboard</li>-->
        <!--</ul>-->
        <!--<div popover ng-show="showRounds">-->
            <!--<div class="arrowUp"></div>-->
            <!--<div class="content">-->
                <!--<ul>-->
                    <!--<li ng-repeat="week in weeks" ng-click="goToRound(week.id)">{{week.name | lowercase}}</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
