<%
var resourcesUrl = config.RESOURCES_URL;
var version = config.PACKAGE.version;
%>
<div class="innerWrapper" ng-class="{highlight : highlight}">
    <div class="rank">#{{rank}}</div>
    <img class="profilePic" src="<%= resourcesUrl %>/<%= version %>/images/pixel.gif" ng-src="{{user.profilePicture}}" />
    <div class="alias">{{user.alias}}</div>
    <div class="spacer"></div>
    <div class="score">{{user.score}} points</div>
</div>
