<div id="nickname">
    <h1>choose your screen name</h1>
    <div class="input">
        <input type="text" ng-model="nickname" maxlength="20" spellcheck="false" />
        <div class="circleButton" ng-click="setNickname()"></div>
    </div>
    <div class="errorMessage">{{errorMessage}}</div>
</div>
