<h3>
    selection opens on {{preSelectionOpenSection.currentRound.startVoteLocalDateTime | eventTime}}
</h3>
<action-button ng-show="preSelectionOpenSection.currentRound !== preSelectionOpenSection.activeRound" ng-click="preSelectionOpenSection.goToActiveRound()">
    go to current round
</action-button>