<h3>
    selection closed
</h3>
<action-button ng-show="selectionClosedSection.currentRound !== selectionClosedSection.activeRound" ng-click="selectionClosedSection.goToActiveRound()">
    go to current round
</action-button>