<h3>
    select a role
</h3>
<div class="eligibleRoles">
    <contestant-button
            ng-repeat="role in selectRoleSection.roles"
            role="role"
            ng-click="selectRoleSection.selectRole(role)">
    </contestant-button>
</div>


