<h3>
    select a role
</h3>
<div class="eligibleRoles">
    <contestant-button
            ng-repeat="role in selectRoleSection.roles"
            role="role"
            contestant="selectRoleSection.selectedContestants[role.id]"
            show-contestant-badge="true"
            ng-click="selectRoleSection.selectRole(role)">
    </contestant-button>
</div>


