<h3>
    select a contestant
</h3>
<div class="eligibleContestants">
    <contestant-button
            ng-repeat="eligibleContestant in selectContestantSection.eligibleContestants"
            contestant="eligibleContestant"
            is-eliminated="selectContestantSection.isEliminated(eligibleContestant)"
            multiplier="selectContestantSection.getMultiplier(eligibleContestant)"
            ng-click="selectContestantSection.selectContestant(eligibleContestant)">
    </contestant-button>
</div>
