@import '../mixins/mobile';

$blurSize: 4px;
$blurSizeMobile: 2 * $blurSize;

.blurContainer {
  transition: filter .5s ease;
}

.blurActive {
  .blurContainer {
    filter: blur($blurSize);

    @include mobile() {
      filter: blur($blurSizeMobile);
    }
  }
}