@import '../mixins/shadow';
@import '../mixins/mobile';
@import '../mixins/position';
@import '../mixins/border';
@import '../mixins/icons';
@import '../mixins/size';
@import '../mixins/animation';
@import '../constants/colors';
@import '../constants/fonts';

$contestantSelectionModalCloseSize: 16px;
$contestantSelectionModalCloseSizeMobile: 2 * $contestantSelectionModalCloseSize;
$contestantSelectionModalCloseOffset: 20px;
$contestantSelectionModalCloseOffsetMobile: 2 * $contestantSelectionModalCloseOffset;
$contestantSelectionModalPrimaryContestantButtonMargin: 100px;
$contestantSelectionModalPrimaryContestantButtonMarginMobile: 2 * $contestantSelectionModalPrimaryContestantButtonMargin;
contestant-selection-modal {
  text-align: center;

  @include fixed(0, 0);
  @include size(100%, 100%);
  @include fadeShowHide();
  z-index: 10;

  .glass {
    @include relative();
  }

  .scrollableContainer {
    @include fixed(0, 0);
    transition: opacity .5s ease;
    opacity: 1;
    z-index: 60;

    .scrollable {
      cursor: initial;
      @include textShadow();

      .content {
        pointer-events: none;
        padding: 40px;

        @include mobile() {
          min-height: 110%;
        }

        [ng-click] {
          pointer-events: auto;
        }

        h1 {
          margin: 0;
        }

        .primaryContentButton {
          transform: scale(1.25);
          margin: $contestantSelectionModalPrimaryContestantButtonMargin 0;

          @include mobile() {
            margin: $contestantSelectionModalPrimaryContestantButtonMarginMobile 0;
          }
        }

        .tabBar {
          display: flex;
          border-bottom: $defaultSuperThinBorder;
          justify-content: center;

          .tab {
            padding: 6px 12px;
            position: relative;

            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              border-bottom: $defaultBorder;
              width: 100%;
              transition: opacity .25s ease;
              opacity: 0;
            }

            &.active {
              &:after {
                opacity: 1;
              }
            }
          }
        }

        .sectionContainer {
          @include relative();

          > * {
            @include absolute();
            display: block;
            width: 100%;

            @include fadeEnterLeave();
          }
        }
      }
    }

    &.hidden {
      opacity: 0;
      display: none;
    }

    &.hidden-add, &.hidden-remove {
      display: initial;
    }

    .close {
      @include icon($close);
      @include size($contestantSelectionModalCloseSize, null, true);
      @include absolute($contestantSelectionModalCloseOffset, null, null, $contestantSelectionModalCloseOffset);

      @include mobile() {
        @include size($contestantSelectionModalCloseSizeMobile, null, true);
        @include absolute($contestantSelectionModalCloseOffsetMobile, null, null, $contestantSelectionModalCloseOffsetMobile);
      }
    }
  }
}