@import '../mixins/position';
@import '../mixins/mobile';
@import '../mixins/size';

.scrollableContainer {
  @include size(100%);
  overflow: hidden;
}

.scrollable {
  @include relative();
  @include size(100%);
  overflow-y: scroll;

  @include desktop() {
    width: calc(100% + 15px);
  }

  @include mobile() {
    -webkit-overflow-scrolling: touch;
  }

  &.hideOverflow {
    overflow: hidden;

    @include desktop() {
      width: 100%;
    }
  }
}