@import '../mixins/position';
@import '../mixins/mobile';
@import '../mixins/size';

.scrollableContainer {
  @include size(100%);
  overflow: hidden;
}

.scrollable {
  @include size(100%);
  overflow-y: scroll;

  @include desktop() {
    @include relative();
    width: calc(100% + 15px);
  }

  @include mobile() {
    -webkit-overflow-scrolling: touch;
  }

  &.hideOverflow {
    @include mobile() {
      overflow: hidden;
      position: relative;
    }
  }
}