@import '../constants/colors';
@import 'mobile';

$borderColor: $white;
$borderWidth: 3px;
$borderWidthMobile: 6px;
$borderThinWidth: 2px;
$borderThinWidthMobile: 4px;
$borderSuperThinWidth: 1px;
$borderSuperThinWidthMobile: 2px;
$defaultBorder: $borderWidth solid $borderColor;
$defaultBorderMobile: $borderWidthMobile solid $borderColor;
$defaultThinBorder: $borderThinWidth solid $borderColor;
$defaultThinBorderMobile: $borderThinWidthMobile solid $borderColor;
$defaultSuperThinBorder: $borderSuperThinWidth solid $borderColor;
$defaultSuperThinBorderMobile: $borderSuperThinWidthMobile solid $borderColor;
$borderRadius: 4px;
$borderRadiusMobile: 14px;

@mixin defaultBorder() {
  border: $defaultBorder;

  @include mobile {
    border: $defaultBorderMobile;
  }
}

@mixin defaultThinBorder() {
  border: $defaultThinBorder;

  @include mobile {
    border: $defaultThinBorderMobile;
  }
}

@mixin defaultSuperThinBorder() {
  border: $defaultSuperThinBorder;

  @include mobile {
    border: $defaultSuperThinBorderMobile;
  }
}
