#footer {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  transition: all .5s ease;
  transition-delay: 1s;

  &.hidden {
    bottom: -100px;
  }

  .user {
    display: inline-block;
    @include hoverable();

    .circle {
      display: inline-block;
      border: 2px solid white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 26px;

    }

    .alias {
      display: inline-block;
      margin-left: 12px;
      font-size: 20px;
      line-height: 30px;
    }

    > * {
      vertical-align: middle;
    }
  }

  .menuCircleWrapper {
    &.logout {
      margin-left: 20px;
      bottom: 35px;
      -webkit-transition-delay: .1s;
      transition-delay: .1s;

      .menuCircle {
        width: 60px;
        height: 60px;
      }
    }

    &.changeAlias {
      margin-left: -90px;
      bottom: 40px;

      .menuCircle {
        width: 80px;
        height: 80px;
      }
    }
  }

  .league, .spacer {
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
  }
}