#login {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  text-align: center;
  width: 100%;

  .button {
    display: inline-block;
    margin-left: 36px;

    &:first-child {
      margin-left: 0;
    }

    @include hoverable();
  }
}