$modalMargin: 30px;
$modalPadding: 18px;
$modalBorderRadius: 8px;
$modalWidth: $width * 5/6;

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  overflow: auto;
  overflow-y: scroll;
  background-color: $glass;
}

.modal-dialog {
  width: $modalWidth;
  margin: $modalMargin auto;
  padding: $modalPadding;
  background-color: $white;
  border-radius: $modalBorderRadius;
  box-shadow: 2px 2px 16px $glass;
  position: relative;
}