input[type=text] {
  height: 42px;
  padding: 8px 12px;
  font-family: inherit;
  font-size: 15px;
  line-height: 1.467;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  box-shadow: none;
  outline: none;
  background: rgba(0,0,0,.08);
}