@mixin centered() {
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  width: 100%;
}

@import 'constants/fonts';
@import 'components/textBox';
@import 'components/circleButton';
@import 'components/menuCircle';
@import 'components/errorMessage';
@import 'components/leaderboardUser';
@import 'components/leagueTable';
@import 'layouts/login';
@import 'layouts/nickname';
@import 'layouts/createLeague';
@import 'layouts/heading';
@import 'layouts/footer';
@import 'layouts/round';
@import 'layouts/lineup';
@import 'layouts/eligibleContestants';
@import 'layouts/leaderboard';
@import 'layouts/ngView';
@import 'components/slideOutMenu';
@import 'components/contestant';
@import 'components/contestantModal';
@import 'components/leagueModal';
@import 'components/button';
@import 'components/scrollable';
@import 'components/divider';

