@import 'constants/colors';
@import 'constants/fonts';
@import 'mixins/position';
@import 'mixins/size';
@import 'components/spinner';
@import 'compass/css3/user-interface';
@import 'compass/css3/box-sizing';

$splashOffset: 40px;
$splashSpinnerMargin: 20px;

html, body {
  background-color: $red;
  color: $white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow: hidden;

  @include size(100%);
  @include mediumFont();
}

* {
  @include box-sizing(border-box);
  @include user-select(none);
}

input {
  @include user-select(initial);
}

#splash {
  margin-top: -$splashOffset;
  text-align: center;

  @include relative(50%);

  .spinner {
    margin: $splashSpinnerMargin auto;
  }
}