<!DOCTYPE html>
<html>
    <head>
        <title>Fantasy Bachelor</title>
        <meta name="description" content="Follow ABC's The Bachelorette and choose which contestants you think Andi Dorfman will give a rose to. Multipliers are available for choosing the same contestant twice in a row, so pick contestants that will make it the long haul!">
        <meta name="keywords" content="The Bachelor, Fantasy, Bachelor, abc, The Bachelorette, Bachelorette, Fantasy Bachelor, Fantasy Bachelorette, FantasyBach, FantasyBachelor, FantasyBachelorette, Fantasy Football">
        <link rel="stylesheet" href="css/splash.css">
        <link rel="shortcut icon" href="images/favicon.ico" />
        <base href="/">
    </head>
    <body ng-app="FantasyBach" ng-strict-di block-rubber-banding>
        <div id="splash" ng-hide="appLoaded">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
            </div>
            <div class="label">loading</div>
        </div>

        <div slide-out-menu ng-show="appLoaded">
            <div ng-view class="scrollable"></div>

            <div footer></div>
            <div heading></div>
            <div contestant-modal></div>
        </div>

        <!-- build:css css/app.min.css -->
        <link rel="stylesheet" href="css/app.css">
        <!-- endbuild -->

        <!-- build:js js/app.min.js -->
        <script src="components/jquery/dist/jquery.js"></script>
        <script src="components/fastclick/lib/fastclick.js"></script>
        <script src="components/angular/angular.js"></script>
        <script src="components/angular-route/angular-route.js"></script>
        <script src="components/lodash/dist/lodash.js"></script>
        <script src="components/moment/moment.js"></script>
        <script src="components/numeral/numeral.js"></script>
        <script src="js/app.js"></script>
        <script src="js/config/routes.js"></script>
        <script src="js/config/httpProvider.js"></script>
        <script src="js/constants/contestantModalModes.js"></script>
        <script src="js/constants/events.js"></script>
        <script src="js/constants/routes.js"></script>
        <script src="js/controllers/loginController.js"></script>
        <script src="js/controllers/aliasController.js"></script>
        <script src="js/controllers/weekController.js"></script>
        <script src="js/directives/blockRubberBanding.js"></script>
        <script src="js/directives/contestant.js"></script>
        <script src="js/directives/contestantModal.js"></script>
        <script src="js/directives/menuCircle.js"></script>
        <script src="js/directives/heading.js"></script>
        <script src="js/directives/footer.js"></script>
        <script src="js/directives/slideOutMenu.js"></script>
        <script src="js/factories/contestantFactory.js"></script>
        <script src="js/factories/routeFactory.js"></script>
        <script src="js/factories/routeValidatorFactory.js"></script>
        <script src="js/factories/backendFactory.js"></script>
        <script src="js/factories/unauthorizedInterceptor.js"></script>
        <script src="js/factories/userFactory.js"></script>
        <script src="js/factories/weeksFactory.js"></script>
        <script src="js/filters/momentFilter.js"></script>
        <!-- endbuild -->
    </body>
</html>
