<div class="slideOutMenu" ng-class="{active: slideOutMenuActive}">
    <div class="slideOutMenuContent scroll">
        <ul>
            <li ng-click="home()">home</li>
            <li>
                <div ng-click="showWeeks = !showWeeks">weeks</div>
                <ul ng-show="showWeeks">
                    <li ng-repeat="week in weeks" ng-click="goToWeek(week.id)">{{week.name | lowercase}}</li>
                </ul>
            </li>
            <li>leagues</li>
            <li>leaderboard</li>
            <li ng-click="changeAlias()">screen name</li>
            <li ng-click="logout()">log out</li>
        </ul>
    </div>
    <div class="slideOutMainContent scroll" ng-transclude ng-click="hideSlideOutMenu()"></div>
</div>